* {
    margin: 0px;
    padding: 0px;
    background-color: #0093E9;


}

#a {
    width: 15%;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;

    left: 20px;
    top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#b {
    width: 100%;
    height: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 210px;
    top: 0px;
}

#c {
    width: 15%;
    height: 40px;
    /* background-color: chartreuse; */
    position: absolute;
    left: 30px;
    top: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#d {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 220px;
    top: 0px;
}

#e {
    width: 15%;
    height: 40px;
    /* background-color: burlywood; */
    position: absolute;
    left: 15px;
    top: 220px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#f {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 210px;
    top: 0px;
}

#g {
    width: 11%;
    height: 40px;
    /* background-color: crimson; */
    position: absolute;
    left: 30px;
    top: 285px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#h {
    width: 65%;
    height: 40px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    position: absolute;
    font-size: 20px;
    left: 140px;
    top: 0px;

}

#i {
    width: 10%;
    height: 40px;
    /* background-color: crimson; */
    position: absolute;
    left: 50px;
    top: 340px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#i1 {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#i2 {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#i3 {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#j {
    width: 11%;
    height: 40px;
    /* background-color: burlywood; */
    position: absolute;
    left: 20px;
    top: 460px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#j1 {
    width: 30%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 140px;
    top: 0px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#j2 {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 200px;
    top: 0px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#k {
    width: 11%;
    height: 30px;
    /* background-color: burlywood; */
    position: absolute;
    left: 20px;
    top: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#k1 {

    background-color: white;
    position: absolute;
    border-radius: 20px;
    left: 52px;
    font-size: 20px;
    top: 530px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#l {
    width: 11%;
    height: 30px;
    /* background-color: burlywood; */
    position: absolute;
    left: 0px;
    top: 720px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#l1 {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 150px;
    top: 0px;
}

#M {
    width: 11%;
    height: 30px;
    /* background-color: burlywood; */
    position: absolute;
    left: 15px;
    top: 800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


#m1 {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: none;
    position: absolute;
    left: 170px;
    top: 0px;
}

#N {
    width: 15%;
    height: 30px;
    /* background-color: burlywood; */
    position: absolute;
    left: 25px;
    top: 870px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#n1 {
    width: 100%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 250px;
    top: 0px;
}

#n2 {
    width: 5%;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 920px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
